/* ---------------------------
        Footer
--------------------------- */

footer {
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

.footer-links {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}